* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 60px minmax(280px, 420px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "icones lista chat";
}

nav {
  grid-area: icones;
  background-color: #F7F5F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container-nav > img:hover {
  background-color: #a9a9a993;
}

.container-nav > img {
  width: 40px;
  border-radius: 100%;
  padding: 7px;
}

aside {
  grid-area: lista;
  background-color: #ffffff;
  border-right: 1px solid #d1d7db;
}

main {
  grid-area: chat;
  background-color: #efeae2;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "icones"
      "chat";
  }

  aside {
    display: none;
  }
}